@{ ViewBag.Title = "Saoirse Design"; }

<div class="jumbotron">
    <h1>Saoirse Design</h1>
    <p class="lead">SPLASH TEST PAGE.</p>
</div>

<div class="row">
    <div class="col-md-4">
       
    </div>
    <div class="col-md-4">
        
    </div>
    <div class="col-md-4">
        
    </div>
    <div class="col-md-4">

    </div>
    <div class="col-md-4">
        
    </div>
    <div class="col-md-4">
        
    </div>
    <div class="col-md-4">
       
    </div>
    <div class="col-md-4">
        
    </div>



</div>