@{ ViewBag.Title = "Saoirse Design"; }

<div class="jumbotron">
    <h1>Under Construction</h1>
    <p class="lead">Hi! Thank you for visting the site. Unfortunately we are currently still under construction here so that you can shop <span style="font-style:italic; color:#ED5672;">in style.</span></p>
    <br /> 
    <p class="lead">Please feel free to drop us a line at: <strong>Daneiru@gmail.com</strong> for any order requests!</p>
</div>