@font-face {
  font-family: 'SerendityScript';
  src: url('../fonts/SerendityScript.eot');
  src: url('../fonts/SerendityScript.ttf') format('embedded-opentype'), 
      url('../fonts/SerendityScript.woff') format('woff'), 
      url('../fonts/SerendityScript.ttf') format('truetype'), 
      url('../fonts/SerendityScript.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}
