.splash-header {
    padding-top: 70px;
    padding: 25px 0;
    background: none;
}

.splash-container {
    position: relative;
    width: 85%;
    margin: 0 auto;
    padding: 0;
}

.accentborder-top {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    border-top: 22px solid #CCC0A7;
}
.accentborder-left {
    position: absolute;
    height: 100%;
    width: 0px;
    top: 0;
    left: 0;
    right: 0;
    border-left: 22px solid #CCC0A7;
}
.accentborder-right {
    position: absolute;
    top: 0;
    left: auto;
    height: 100%;
    right: 0;
    border-left: 22px solid #CCC0A7;
}
.accentborder-bottom {
    position: absolute;
    top: auto;
    bottom: 0;
    left: 0;
    right: 0;
    border-top: 22px solid #CCC0A7;
}

a.sd-logo {
    font-family: SerendityScript,'Open Sans';
    font-size: 50px;
    color: #FFF;
}
    a.sd-logo:hover {
        color: #ED5672;
        border: none;
    }

a:hover, .nav li a:hover {
    background: none;
    /*color: #305733;*/
    /*border-bottom: 5px solid #305733;*/
    border-bottom: 3px solid #FFF;
    text-decoration: none;
}

.nav li a {
    margin: 3px 10px;
    padding: 0px;
    /*color: #ED5672;*/
    color: #FFF;
}

:focus {
  /*outline: -webkit-focus-ring-color auto 5px;*/
  outline-color: #ED5672;
  outline-style: solid;
  outline-width: 1px;
}

/*********/
body {
    font-family: 'Montserrat', sans-serif;
    padding-top: 50px;
    padding-bottom: 20px;
    
    background-image: url('../Content/Imgs/BG.jpg');
    color: #FFF;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
    width: 75%;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/* styles for validation helpers */
.field-validation-error {
    color: #b94a48;
}

.field-validation-valid {
    display: none;
}

input.input-validation-error {
    border: 1px solid #b94a48;
}

input[type="checkbox"].input-validation-error {
    border: 0 none;
}

.validation-summary-errors {
    color: #b94a48;
}

.validation-summary-valid {
    display: none;
}